@font-face {
  font-family: "winterbeauty";
  src: url("./font/winterbeauty-Script.otf") format("truetype");
}

body {
  background-color: #f1f1f1;
  margin: 0; /* Remova as margens padrão do body */
}

.bordas {
  background-color: #f1f1f1;
  margin: 0;
}

/* Estilos padrão para telas pequenas */

.index {
  font-size: 20px;
  padding-left: 10px; /* Ajuste o padding para telas menores */
  font-family: "winterbeauty";
  color: #000; /* Cor de texto para telas menores */
}

.navbar {
  background-color: #15a368;
}

.fonte-alterada {
  padding: 20px;
  font-size: 35px;
  color: #f1f1f1;
  font-family: winterbeauty;
}

.cadastro {
  font-size: 20px;
  font-family: winterbeauty;
}

.login {
  font-size: 20px;
  font-family: winterbeauty;
}

/* Media Query para telas maiores (1024px ou mais) */
@media screen and (min-width: 1024px) {
  .index {
    margin-left: 340px;
    padding-left: 245px;
    font-size: 20px;
  }

  .fonte-alterada {
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 5px;
    font-size: 35px;
    color: #f1f1f1;
    font-family: winterbeauty;
  }

  .cadastro {
    margin-left: 950px;
    padding-left: 263px;
    font-size: 20px;
    font-family: winterbeauty;
  }

  .login {
    margin-right: 10px;
    padding-left: 6px;
    font-size: 20px;
    font-family: winterbeauty;
  }

  @font-face {
    font-family: "Montserrat";
    src: url("./font/Montserrat-VariableFont_wght.ttf") format("truetype");
  }

  .titulo {
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0.15px;
    font-family: BerkshireSwash-Regular;
    font-size: 32px;
  }

  .descricao {
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    font-size: 25px;
    font-family: BerkshireSwash-Regular;
  }

  .saudacao {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
    font-family: "BerkshireSwash-Regular";
    color: #1ed187;
  }

  @font-face {
    font-family: "BerkshireSwash-Regular";
    src: url("./font/Berkshire_Swash/BerkshireSwash-Regular.ttf")
      format("truetype");
  }

  .carousel-item img {
    max-width: 300px; /* Redimensionado para telas maiores */
    height: auto;
    margin-bottom: 20px;
    margin: 0 auto; /* Centralizado na tela */
    border-radius: 20px;
  }

  .carousel-inner {
    background-color: #f1f1f1;
    padding-top: 30px;
    margin: 0 auto;
  }
}
