.navbar {
  background-color: #87054a;
}
@font-face {
  font-family: "winterbeauty";
  src: url("./font/winterbeauty-Script.otf") format("truetype");
}
body {
  background-color: #f1f1f1;
}
.fonte-alterada {
  font-family: winterbeauty;
  padding-top: 20px;
  padding-left: 22px;
  padding-right: 5px;
  font-size: 35px;
  color: black;
}
.nav-link a:hover {
  margin-left: 5px;
}
.nav-item-home a:hover {
  padding-left: 15px;
}
.cadastro {
  margin-left: 500px;
  padding-left: 150px;
  font-size: 20px;
  font-family: winterbeauty;
}
.login {
  /*padding-left: 150px;*/
  font-size: 20px;
  font-family: winterbeauty;
}
@font-face {
  font-family: "Montserrat";
  src: url("./font/Montserrat-VariableFont_wght.ttf") format("truetype");
}
.titulo {
  margin-top: 10px;
  text-align: center;
  letter-spacing: 0.15px;
  font-family: Montserrat;
  font-size: 35px;
}
.descricao {
  text-align: center;
  padding-left: 55px;
  padding-right: 55px;
}
.saudacao {
  text-align: center;
  font-size: 40px;
  padding-top: 50px;
  font-family: "BerkshireSwash-Regular";
  color: #87054a;
}
@font-face {
  font-family: "BerkshireSwash-Regular";
  src: url("./font/Berkshire_Swash/BerkshireSwash-Regular.ttf")
    format("truetype");
}
