body {
  background-color: #f1f1f1;
}

.navbar {
  background-color: #15a368;
}

@font-face {
  font-family: "winterbeauty";
  src: url("./font/winterbeauty-Script.otf") format("truetype");
}

.fonte-alterada {
  font-family: winterbeauty;
  padding-top: 25px;
  padding-left: 22px;
  padding-right: 5px;
  font-size: 35px;
  color: black;
}

.nav-item-home {
  padding-left: 15px;
}

.cadastro {
  font-size: 25px;
  font-family: winterbeauty;
}

.login {
  font-size: 25px;
  font-family: winterbeauty;
}

.container-card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-top: 20px;
  justify-items: center;
  gap: 5px;
}

.card {
  background-color: #fff; /* Defina a cor de fundo que desejar */
  padding: 20px; /* Adicione preenchimento para separar o conteúdo do card */
  border-radius: 5px; /* Opcional: Adicione bordas arredondadas ao card */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Opcional: Adicione sombra ao card */
}

.dropdown-content {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  background-color: #769b6b;
  width: 100px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Media Query para telas maiores (1024px ou mais) */
@media screen and (min-width: 1024px) {
  .cadastro {
    margin-left: 1200px;
    font-size: 20px;
  }

  .login {
    font-size: 20px;
  }

  .fonte-alterada {
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 5px;
    font-size: 35px;
    color: white;
  }

  .container-card {
    grid-template-columns: repeat(3, 1fr);
    padding-left: 80px;
    padding-right: 20px;
  }
}
