body{
  background-color: #f1f1f1;
}
.navbar {
    background-color: #87054a;
  }
  @font-face {
    font-family: "winterbeauty";
    src: url("./font/winterbeauty-Script.otf") format("truetype");
  }
  .fonte-alterada {
    font-family: winterbeauty;
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 5px;
    font-size: 35px;
    /* font-size: 35px; */
    color: black;
  }
  .nav-item-home {
    padding-left: 15px;
  }
  .cadastro {
    margin-left: 1000px;
    padding-left: 95px;
    font-size: 25px;
    font-family: winterbeauty;
  }
  .login {
    /*padding-left: 150px;*/
    font-size: 25px;
    font-family: winterbeauty;
  }
  .container-card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    justify-items: center;
    /* padding-left: 80px;
    padding-right: 20px; */
  }
@font-face {
  font-family: "winterbeauty";
  src: url("./font/winterbeauty-Script.otf") format("truetype");
}
.fonte-alterada {
  font-family: winterbeauty;
  padding-top: 20px;
  padding-left: 22px;
  padding-right: 5px;
  font-size: 35px;
  /* font-size: 35px; */
  color: white;
}
.card{
  background-color: #f1f1f1;
}
@media screen and (max-width: 768px){
  .cadastro {
    margin-left: 510px;
    padding-left: 95px;
    font-size: 20px;
    font-family: winterbeauty;
  }
  .login {
    /*padding-left: 150px;*/
    font-size: 20px;
    font-family: winterbeauty;
  }
  .fonte-alterada {
    font-family: winterbeauty;
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 5px;
    font-size: 35px;
    /* font-size: 35px; */
    color: black;
  }
  .container-card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 20px;
    padding-left: 80px;
    padding-right: 20px;
  }
}